{% extends "consignment/base_template.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container"> 
            <h4 align="right">Hello, <b>{{ user.first_name }}</b></h4> 
    {% else %}
        <div class="container" > 
            <h4 align="right">Hello, there</h4> 
    {% endif %}
        <form class="example" action="{% url 'consignment-track' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter your consignment track no." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
        <div class = "container">
        <article class="media content-section">
                <div class="media-body">
                    <h5><a class="article-title" href="#">{{ form2.consignment.consignment_name }}</a></h5>
                    <a class="mr-2" href="#">{{ form2.consignment.consignment_sender.first_name }} {{ form2.consignment.consignment_sender.last_name }}</a>
                    <small class="text-muted">{{ form2.consignment.material }}</small>
                    <div class="border-top pt-3">
                        {% for formed in forms %}
                            <small>Your consignment was {{ formed.event }} at {{ formed.hub.office_name }} </small>   
                            <br>                  
                        {% endfor %}
                    </div>
                    
            </div>
        </article>
    </div>

{% endblock content %}